<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caoruiqun.admin.mapper.StaffInfoMapper">

  <resultMap id="BaseResultMap" type="com.caoruiqun.admin.model.StaffInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="realName" jdbcType="VARCHAR" property="realname" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="staffNo" jdbcType="VARCHAR" property="staffno" />
    <result column="orgId" jdbcType="INTEGER" property="orgid" />
    <result column="jobTitle" jdbcType="VARCHAR" property="jobtitle" />
    <result column="hireDate" jdbcType="TIMESTAMP" property="hiredate" />
  </resultMap>
  
  <!-- 自定义的结果集映射 -->
  <resultMap id="CustomResultMap" type="com.caoruiqun.admin.model.StaffInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="realName" jdbcType="VARCHAR" property="realname" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="staffNo" jdbcType="VARCHAR" property="staffno" />
    <result column="orgId" jdbcType="INTEGER" property="orgid" />
    <result column="jobTitle" jdbcType="VARCHAR" property="jobtitle" />
    <result column="hireDate" jdbcType="TIMESTAMP" property="hiredate" />
    <association property="orgInfo" javaType="com.caoruiqun.admin.model.OrgInfo">
    	<id column="orgId" jdbcType="INTEGER" property="orgId" />
    	<result column="orgName" jdbcType="VARCHAR" property="orgName" />
    	<result column="pid" jdbcType="INTEGER" property="pid" />
	</association>
	<association property="pOrgInfo" javaType="com.caoruiqun.admin.model.POrgInfo">
    	<id column="pOrgId" jdbcType="INTEGER" property="pOrgId" />
    	<result column="pOrgName" jdbcType="VARCHAR" property="pOrgName" />
    	<result column="ppid" jdbcType="INTEGER" property="ppid" />
	</association>
  </resultMap>
  
  <sql id="Base_Column_List">
    id, phone, email, realName, sex, staffNo, orgId, jobTitle, hireDate
  </sql>
  
  <!-- 自定义的数据表字段名称 -->
  <sql id="Custom_Column_List">
    a.id, a.phone, a.email, a.realName, a.sex, a.staffNo, a.orgId, a.jobTitle, a.hireDate, 
    b.id orgId, b.orgName, b.pid, c.id pOrgId, c.orgName pOrgName, c.pid ppid
  </sql>
  
  <!-- 根据staffId查询员工信息 -->
  <select id="getStaffInfoById" parameterType="java.lang.Integer" resultMap="CustomResultMap">
    select 
    <include refid="Custom_Column_List" />
    from u_staff_info a
		LEFT JOIN u_org_info b ON a.orgId = b.id
		LEFT JOIN u_org_info c ON b.pid = c.id 
	WHERE
		a.id = #{staffId, jdbcType=INTEGER}
  </select>
  
  <!-- 
    #{xxx}，使用的是PreparedStatement，会有类型转换，所以比较安全；
	${xxx}，使用字符串拼接，可以SQL注入；
	like查询不小心会有漏动，正确写法如下：
	Mysql: select * from t_user where name like concat('%', #{name}, '%')      
	Oracle: select * from t_user where name like '%' || #{name} || '%'      
	SQLServer: select * from t_user where name like '%' + #{name} + '%'
  -->
  <!-- 根据输入的手机号开始几位查询匹配的手机号 -->
  <select id="getStaffPhone" parameterType="java.lang.String" resultType="java.util.Map">
    select phone from u_staff_info
    where phone like CONCAT('%', #{startPhone, jdbcType=VARCHAR}, '%') limit 10
  </select>
  
  <!-- 根据phone查询员工信息 -->
  <select id="getStaffInfoByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from u_staff_info
    where phone = #{phone, jdbcType=VARCHAR}
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_staff_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from u_staff_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.caoruiqun.admin.model.StaffInfo">
    insert into u_staff_info (id, phone, email, 
      realName, sex, staffNo, 
      orgId, jobTitle, hireDate
      )
    values (#{id,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{realname,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{staffno,jdbcType=VARCHAR}, 
      #{orgId,jdbcType=INTEGER}, #{jobtitle,jdbcType=VARCHAR}, #{hiredate,jdbcType=TIMESTAMP}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.caoruiqun.admin.model.StaffInfo">
    insert into u_staff_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="realname != null">
        realName,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="staffno != null">
        staffNo,
      </if>
      <if test="orgId != null">
        orgId,
      </if>
      <if test="jobtitle != null">
        jobTitle,
      </if>
      <if test="hiredate != null">
        hireDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="staffno != null">
        #{staffno,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="jobtitle != null">
        #{jobtitle,jdbcType=VARCHAR},
      </if>
      <if test="hiredate != null">
        #{hiredate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.caoruiqun.admin.model.StaffInfo">
    update u_staff_info
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        realName = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="staffno != null">
        staffNo = #{staffno,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        orgId = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="jobtitle != null">
        jobTitle = #{jobtitle,jdbcType=VARCHAR},
      </if>
      <if test="hiredate != null">
        hireDate = #{hiredate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.caoruiqun.admin.model.StaffInfo">
    update u_staff_info
    set phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      realName = #{realname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      staffNo = #{staffno,jdbcType=VARCHAR},
      orgId = #{orgId,jdbcType=INTEGER},
      jobTitle = #{jobtitle,jdbcType=VARCHAR},
      hireDate = #{hiredate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>