<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:ws="http://jax-ws.dev.java.net/spring/core"
	   xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://jax-ws.dev.java.net/spring/core http://jax-ws.dev.java.net/spring/core.xsd
		http://jax-ws.dev.java.net/spring/servlet http://jax-ws.dev.java.net/spring/servlet.xsd">
	
	<!-- 绑定webservice地址，需要与web.xml的地址对应 -->
	<!-- 访问：http://localhost:8080/e-seal/services/sealService?wsdl -->
    <!-- 通过wsdl生成客户端调用代码： C:\dev\jdk1.8.0_101\bin>wsimport -keep -encoding utf-8 -p com.bjpowernode.p2p.admin.stub http://localhost:8080/e-seal/services/sealService?wsdl -->
    <!--上述wsimport有问题，还要配上 -d XXXX路径-->
    <wss:binding url="/services/sealService">
        <wss:service>
            <ws:service bean="#sealServiceImpl" />
        </wss:service>
    </wss:binding>
    
    <!-- <wss:binding> 可以配置多个 -->

</beans>
